/* styles.css */
.container {
    max-width: 40%;
    margin: 2% auto;
    padding: 0 1rem;
  }
  
  .logout-button {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #3b82f6; 
    color: white;
    border-radius: 0.375rem; 
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #2563eb; 
  }
  
  .dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.25rem; 
    background-color: white;
    border-radius: 0.5rem; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
  }
  
  .dropdown-label {
    font-weight: 600;
    font-size: 0.875rem; 
    color: #4b5563; 
    margin-right: 1rem; 
    width: 8rem; 
    text-align: right;
  }
  
  .dropdown {
    flex: 1;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db; 
    border-radius: 0.375rem; 
    background-color: #f3f4f6; 
    font-size: 0.875rem; 
    color: #374151;
  }
  
  .dropdown:focus {
    border-color: #3b82f6; 
    outline: none;
    box-shadow: 0 0 0 1px #3b82f6; 
  }
  
  .dropdown:hover {
    border-color: #3b82f6;
  }
  
  .chapter-container {
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .selected-info {
    font-size: 0.75rem;
    color: #6b7280; 
    margin-top: 0.5rem; 
    font-weight: 500;
  }
  
  .textarea-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-top: 1rem; 
  }

  .textarea-container  .textarea{
    
    padding: 50px;
    height: 80vh;
    position: relative;
  }

  .textarea-container .inputtext{
   
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
  }
  .inputtext::placeholder{
   padding: 20px;
   color: black;
   opacity: 50%;
  }
  .textarea-container button{
    padding: 20px;
    background-color: #4b5563;
    width: 100%;
    border-radius: 20px;
  }
  .iconarrow{

    position: absolute;
    top:97.9%;
    right: 26%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
  }
  .textarea-container button:hover{

    background-color: #dae1eb;
  }
  .textarea {
    width: 100%;
    height: 10vh; 
    padding: 1rem; 
    border: 1px solid #d1d5db; 
    border-radius: 0.375rem; 
    resize: none; 
  }
  
  

  @media (max-width: 932px) { 
    .container {
      max-width: 90%; 
    }
  
    .dropdown-label {
      font-size: 0.75rem; 
      width: auto; 
    }
  
    .dropdown {
      padding: 0.5rem; 
      font-size: 0.75rem; 
    }
    .iconarrow{
      position: absolute;
      top:97%;
      right: 12%;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;

  }
  
    .selected-info {
      font-size: 0.65rem; 
    }
  };

  @media (max-width: 850px) { 
    .container {
      max-width: 90%; 
    }
  
    .dropdown-label {
      font-size: 0.75rem;
      width: auto;
    }
  
    .dropdown {
      padding: 0.5rem; 
      font-size: 0.75rem; 
    }
    .iconarrow{
      position: absolute;
      top:97%;
      right: 8%;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;

  }
  
    .selected-info {
      font-size: 0.65rem; 
    }
  };
  
  @media (min-width: 730px) and (max-width: 801px) { 
    .textarea-container {
      width: 102%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: auto;
      margin-top: 1rem; 
    }
  }
  
  /* @media (max-width: 663px) { 
    .textarea {
      height: 15vh; 
    }

    .iconarrow{
        position: absolute;
        top:90%;
        right: 5%;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;

    }
  
    .logout-button {
      font-size: 0.75rem; 
    }
  
    .dropdown-label {
      font-size: 0.65rem; 
    }
  
    .dropdown {
      font-size: 0.65rem; 
    }
  
    .selected-info {
      font-size: 0.6rem; 
    }
  } */

  @media (min-width: 677px) and (max-width: 717px) { 
    .textarea {
      height: 15vh; 
    }
  
    .iconarrow {
      position: absolute;
      top: 95.5%;
      right: 9%;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
    }
    .textarea-container {
      width: 102%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: auto;
      margin-top: 1rem; 
    }
  
    .logout-button {
      font-size: 0.75rem; 
    }
  
    .dropdown-label {
      font-size: 0.65rem; 
    }
  
    .dropdown {
      font-size: 0.65rem; 
    }
  
    .selected-info {
      font-size: 0.6rem; 
    }
  }
  @media (min-width: 634px) and (max-width: 670px) { 
    .textarea {
      height: 15vh; 
    }
  
    .iconarrow {
      position: absolute;
      top: 95.5%;
      right: 8%;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
    }
    .textarea-container {
      width: 102%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: auto;
      margin-top: 1rem; 
    }
  
    .logout-button {
      font-size: 0.75rem; 
    }
  
    .dropdown-label {
      font-size: 0.65rem; 
    }
  
    .dropdown {
      font-size: 0.65rem; 
    }
  
    .selected-info {
      font-size: 0.6rem; 
    }
  }
  @media (min-width: 503px) and (max-width: 629px) { 
    .textarea {
      height: 15vh; 
    }
    .textarea-container {
      width: 102%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: auto;
      margin-top: 1rem; 
    }
  
    .iconarrow {
      position: absolute;
      top: 95.5%;
      right: 9%;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
    }
  
    .logout-button {
      font-size: 0.75rem; 
    }
  
    .dropdown-label {
      font-size: 0.65rem; 
    }
  
    .dropdown {
      font-size: 0.65rem; 
    }
  
    .selected-info {
      font-size: 0.6rem; 
    }
  }
  

  
  @media (max-width: 494px) {
    /* .textarea {
      height: 15vh; 
    } */
    .textarea-container {
      width: 100%;
      /* display: flex; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: auto;
      margin-top: 1rem; 
    }

    .iconarrow{
        position: absolute;
        top:95%;
        right: 11%;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;

    }
  
    .logout-button {
      font-size: 0.75rem; 
    }
  
    .dropdown-label {
      font-size: 0.65rem; 
    }
  
    .dropdown {
      font-size: 0.65rem; 
    }
  
    .selected-info {
      font-size: 0.6rem;
    }
  }
  





  .quiz-container {
    display: flex;
    flex-direction: row; /* Align buttons and content side by side by default */
    flex-wrap: nowrap; /* Prevent wrapping */
  }
  
  .question-buttons {
    padding: 15px; /* Adjust padding as needed */
    border-right: 1px solid #ccc; /* Optional: visual separation */
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    width: 200px; /* Fixed width for buttons */
  }
  
  .question-content {
    flex: 1; /* Allow it to take the remaining space */
    padding: 20px; /* Adjust padding as needed */
  }
  
  .question-buttons button {
    margin: 6px 0; /* Add space between buttons */
  }
  
  .question-buttons button.active {
    background-color: #007BFF; /* Highlight active button */
    color: white;
  }
  
  .buttons {
    margin-top: 20px; /* Space above navigation buttons */
  }
  
  .quiz-container {
    display: flex;
    flex-direction: row; /* Align buttons and content side by side by default */
    flex-wrap: nowrap; /* Prevent wrapping */
  }
  
  .question-buttons {
    padding: 15px; /* Adjust padding as needed */
    border-right: 1px solid #ccc; /* Optional: visual separation */
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    width: 200px; /* Fixed width for buttons */
  }
  
  .question-content {
    flex: 1; /* Allow it to take the remaining space */
    padding: 30px; /* Adjust padding as needed */
  }
  
  .question-buttons button {
    margin: 6px 0; /* Add space between buttons */
    border-radius: 15px;
  }
  
  .question-buttons button.active {
    background-color: #007BFF; /* Highlight active button */
    color: white;
  }
  
  .buttons {
    margin-top: 20px; /* Space above navigation buttons */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 599px) {
    .question-buttons {
     
      width: 40px;
      padding: 5px; 
    
    }
    .question-buttons button {
      border-radius: 10px;
    }
    
   
  }
  
  /* Styling for the buttons */
  .previous-btn {
    background-color: #28a745; /* Green for Previous */
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .previous-btn:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  .next-btn {
    background-color: #ffc107; /* Yellow for Next */
    color: black;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    
  }
  
  .next-btn:hover {
    background-color: #e0a800; /* Darker yellow on hover */
    
  }
  
  /* Optional: styling for the Submit button if needed */
  .submit-btn {
    background-color: #eb121d; /* Blue for Submit */
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  
  .submit-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  /* Hide the native radio button */
  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
    transition: border 0.3s ease;
  }
  
  /* Unchecked radio button */
  input[type="radio"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
  }
  
  /* When the radio button is checked, set border to green and the inner circle to green */
  input[type="radio"]:checked {
    border-color: #050605; /* Green border */
    margin: 2px;
  }
  
  input[type="radio"]:checked::before {
    background-color: #291dd1; /* Green inner circle */
  }
  
  /* Add hover effects */
  input[type="radio"]:hover {
    border-color: #888; /* Slight border change on hover */
  }
  
  label {
    cursor: pointer; /* Make label clickable */
    margin-left: 8px;
  }
  
  